certifi==2022.12.7
chardet==4.0.0
idna==2.10
phonenumbers==8.13.9
Pillow==8.2.0
pip==23.0.1
pyaes==1.6.1
Pyrogram==2.0.103
PySocks==1.7.1
requests==2.25.1
setuptools==49.2.1
simpledemotivators==2.1.0
urllib3==1.26.15